table.sudoku td {
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: relative;
}

table.sudoku td.lborder {
    border-left: 2px solid black;
}

table.sudoku td.tborder {
    border-top: 2px solid black;
}

table.sudoku td.original {
    background-color: #ccc;
}

table.sudoku td.changed {
    background-color: #fdd;
    border: 2px solid red;
    z-index: 255;
}

table.sudoku tr {
    height: 10px;
}

table.sudoku {
    border: 2px solid black;
    border-collapse: collapse;
}

.hint-square {
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #ddd;
    z-index: 300;
    float: left;
}

.changed .hint-square {
    background-color: #f88;
}

.hint1 {
    left: 1px;
    top: 1px;
}

.hint2 {
    left: 8px;
    top: 1px;
}

.hint3 {
    left: 15px;
    top: 1px;
}

.hint4 {
    left: 1px;
    top: 8px;
}

.hint5 {
    left: 8px;
    top: 8px;
}

.hint6 {
    left: 15px;
    top: 8px;
}

.hint7 {
    left: 1px;
    top: 15px;
}

.hint8 {
    left: 8px;
    top: 15px;
}

.hint9 {
    left: 15px;
    top: 15px;
}
